@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: "Markazi Text", serif;
}
ul, li,Link, p{
  font-family: "Karla", sans-serif;
  
}

button
{
  background-color: #f4ce14;
  color:black;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  padding: 10px 30px 10px 30px;
  border: none;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* Mobile Nav */
.bar
{
  width:20px; 
  height:3px;
  background-color:black;
  margin:5px 0;
}
.menuIcon
{
  display:none;
  cursor:pointer;
}
/* Nav */
nav{
  z-index: 10001;
}
.navContainer
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgFlex
{
  width: 300px;
}
.navList
{
  display: flex;
  align-items: center;
   list-style-type: none; 
  
}
.navList.visible
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 80%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  margin:10px;
}
.navList li
{
  margin: 10px;
}
.navList li a
{
  text-decoration: none;
  color:black; 
}
/*Header*/
.headerContainer
{
  display: flex;
  align-items: flex-start;
  justify-content:space-evenly;
  background-color: #495E57;
  padding: 40px;
}
.headerContent 
{
  width: 400px;

}

.headerContent h1
{
  color:#f4ce14;
  
}

.headerContent h2, .headerContainer p 
{
  color:white;
  
}
.headerImage
{
  width: 280px;
  height: 280px;
  border-radius: 16px;
  margin-bottom: -280px;
  object-fit: cover;
}
/* Main */

.mainContainer
{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 20px;
}
.mainContent 
{
  width: 400px;
}
.img
{
 width:100%;
 height:253px;
}
/* Card */

.card
{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDEFEE;
  margin:100px;
}

.cardImg
{
  width: 100%;
  height: 233px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.containerFlex, p 
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right:20px;
}
/* Form */
.bookingContainer
{
  background-color: #EDEFEE;
  margin:20px;
  padding: 20px;
}
.booking
{
  
 color:#495E57;
 margin-top: 0px !important;
}
form{
  display: grid; 
  max-width: 200px; 
  gap: 20px;
  
  
}
label
{
  font-family: "Markazi Text", serif;
  font-size: 20px;
}
input, select
{
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color:#D9D9D9;
  border-radius: 8px;
  height: 30px;
  border: 2px solid #f1f1f1;
}
.button
{
  background-color: #f4ce14;
  color:black;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  border: none;
}


/* Footer */
.footerContainer
{
  display: flex;
  align-items:start;
  justify-content: space-evenly;
}
.footerList
{
  list-style-type: none; 

}
.footerItem a, .footerItem h2
{
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width:768px){
  .menuIcon {
    display: block;
  }
  .navList
  {
    display:none;
  }
  .navList.visible
  {
   z-index:1000;
   background-color: #333;
   width:100%;
   display: flex;
   flex-direction: column;
   top: 100px;
   position: absolute;
   padding: 20px 0;
  }
  .navContainer{
    background:#fff;
    padding: 10px 8%;
  }
  .navList li a
  {
  text-decoration: none;
  color:white; 
  }
  .bar{
    background: #333;
  }
  .imgFlex
  {
  width: 300px;
  }

.headerImage
{
  display: none;
}

}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

