@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: "Markazi Text", serif;
}
ul, li,Link, p{
  font-family: "Karla", sans-serif;
  
}

button
{
  background-color: #f4ce14;
  color:black;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  padding: 10px 30px 10px 30px;
  border: none;
}
.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Nav */
.navContainer
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgFlex
{
  width: 300px;
}
.navList
{
  display: inline-flex;
   list-style-type: none; 
  
}
.navList li
{
  
  margin: 10px;
}
.navList li a
{
  text-decoration: none;
  color:black; 
}
/*Header*/
.headerContainer
{
  display: flex;
  align-items: flex-start;
  justify-content:space-evenly;
  background-color: #495E57;
  padding: 40px;
}
.headerContent 
{
  width: 400px;

}

.headerContent h1
{
  color:#f4ce14;
  
}

.headerContent h2, .headerContainer p 
{
  color:white;
  
}
.headerImage
{
  width: 280px;
  height: 280px;
  border-radius: 16px;
  margin-bottom: -280px;
  object-fit: cover;
}
/* Main */

.mainContainer
{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 20px;
}
.mainContent 
{
  width: 400px;
}
.img
{
 width:100%;
 height:253px;
}
/* Card */
.cardContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card
{
  width:20%;
  background-color: #EDEFEE;
  margin-right: 12px;
  
}
.cardImg
{
  width:100%;
}
.container 
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right:20px;
}

/* Footer */
.footerContainer
{
  display: flex;
  align-items:start;
  justify-content: space-evenly;
}
.footerList
{
  list-style-type: none; 

}
.footerItem a, .footerItem h2
{
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width:768px){
  .imgFlex
{
  width: 100px;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

